.game-board {
  &__active {
    background-color: #023047;
    padding: 3px;

    .row, & {
      display: flex;
      gap: 3px;
    }

    .row {
      flex-flow: row;
    }

    & {
      flex-flow: column;
    }

    .row {
      .cell {
        width: 30px;
        height: 30px;
        position: relative;

        background: #aadcf3;

        &--active {
        }

        &--player-one {
          display: flex;
          justify-content: center;
          align-items: center;

          &::after {
            content: '';
            display: block;
            width: 60%;
            height: 60%;
            border-radius: 50%;
            border: 4px solid #023047;
          }
        }

        &--player-two {
          &::before,
          &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 4px;
            background-color: #023047;
            top: 50%;
            left: 50%;
          }

          &::before {
            transform: translate(-50%, -50%) rotate(45deg);
          }

          &::after {
            transform: translate(-50%, -50%) rotate(-45deg);
          }
        }

        &:not(&--not-valid) {
          cursor: pointer;
        }

        &:not(&--not-valid):hover {
          background-color: rgb(6, 88, 136);
          transition: background-color, 0.2s;
        }
      }
    }
  }
}