.game {
  padding: 30px;
  border-radius: 15px;
  background-color: #FFB703;

  &__info {
    .table {
      background-color: #ededed;
      width: 100%;
      margin-bottom: 20px;
      border-radius: 15px;
      padding: 25px;
      text-align: center;
    }
  }

  .button-start-again {
    display: block;
    width: 100%;
    background: #043e60;
    color: #ebebeb;
    padding: 10px 0;
    margin-top: 20px;
    cursor: pointer;
    text-align: center;
    transition: 0.25s;

    &:hover, &:focus {
      box-shadow: inset 400px 0 0 0 #171717;
      border-color: #171717;
    }
  }
}